.App {
  /*text-align: center;*/
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.calculator {
  margin: 20px auto;
  width: 200px;
  /*padding: 5px;*/
  clear: both;
  font-family: 'Ubuntu Mono', monospace;
  border: 1px solid #333;
  background-color: #333;
  /*border-radius: 5px; */
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2);
}

.screen {
  font-size: 2.4em;
  border: 0.5px solid #333;
  text-align: right;
  /*margin: 2%;*/
  padding: 1% 5%;
  width: 89.5%;
  height: 1.5em;
  background-color: #333;
  color: #fff;
  /*border-radius: 10px;*/
}

.numbers {
}

.number {
  /*border-radius: 50px;*/
  font-size: 140%;
  background-color: #777777;
  /*margin: 2%;*/
  padding: 5%;
  width: 15%;
  height: 15%;
  color: #ffffff;
  text-align:center;
  vertical-align: middle;
  display: inline-table;
  border: 0.1px solid #333333;
}
.number:hover {
  cursor: pointer;
  background-color: #9C9C9C;
}

.operators {
  clear: both;
}

.operator {
  background-color: #FF9D17;
}
.operator:hover {
  background-color: #FFB756;
}

.zero {
  width: 40%;
}

.equal {
  background-color: #74992e;
}
.equal:hover {
  background-color: #A6BE7A;
}

.specials {
}
